:root{
 --mobileWidth: 375px;
 --cardWidth: 330px;
 --cardHeight: 550px;
 /*    primary   */
 --softBlue: hsl(215, 51%, 70%);
 --cyan: hsl(178, 100%, 50%, 0.5);
 --cyanHeader: hsl(178, 100%, 50%);

/*    Neutral    */
 --veryDarkBlueMainBG: hsl(217, 54%, 11%);
 --veryDarkBlueCardBG: hsl(216, 50%, 16%);
 --veryDarkBlueline: hsl(215, 32%, 27%);
 --white: hsl(0, 0%, 100%);
 --font-style: 'Outfit', sans-serif;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 font-family: var(--font-style);
}
.card-container{
 width: var(--mobileWidth);
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: var(--veryDarkBlueMainBG);
}
.card{
 max-width: var(--cardWidth);
 max-height: --cardHeight;
 padding: 20px;
 background-color: var(--veryDarkBlueCardBG);
 border-radius: 20px;
}
.card-img-container{
 position: relative;
 width: 100%;
 height: 280px;
 margin-block-end: 30px;
 cursor: pointer;
}
.card-img{
 width: 100%;
 height: 100%;
 border-radius: 10px;
}
.card-hover-effect{
 position: absolute;
 top: 0;
 width: 100%;
 height: 100%;
 border-radius: 10px;
 background-color: var(--cyan);
 display: flex;
 justify-content: center;
 align-items: center;
 opacity: 0;
 transition: .7s;
}
.card-img-container:hover .card-hover-effect{
 opacity: 1;
}
.card-header{
 color: var(--white);
 font-size: 25px;
 font-weight: 600;
 margin-block-end: 15px;
 cursor: pointer;
}
.card-header:hover{
 color: var(--cyanHeader);
}
.card-description{
 color: var(--softBlue);
 font-weight: 400;
 margin-block-end: 20px;
}
.card-value-cotainer{
 display: flex;
 justify-content: space-between;
 margin-block-end: 20px;
}
.card-value{
 color: var(--cyan);
 font-weight: 600;
}
.card-value-img{
 vertical-align: middle;
 margin-inline-end: 5px;
}
.card-reminder{
 color: var(--softBlue);
}
.card-reminder-img{
 vertical-align: middle;
 margin-inline-end: 5px;
}
.card-profile-container{
 display: flex;
 align-items: center;
 border-block-start: 1px solid var(--veryDarkBlueline);
 margin-block-end: 5px;
 padding-block-start: 15px;
}
.card-profile-img{
 width: 35px;
 height: 35px;
 border-radius: 50%;
 border: 1px solid var(--white);
}
.card-profile-header{
 font-size: 16px;
 font-weight: 300;
 color: var(--softBlue);
 margin-inline-start: 20px;
}
.card-profile-header-link{
 text-decoration: none;
 color: var(--white);
 transition: .3s;
}
.card-profile-header-link:hover{
 color: var(--cyanHeader);
 font-weight: 400;
}
@media screen and (min-width: 778px){
 .card-container{
  width: 100vw;
 }
}